@model IEnumerable<Models.TweetsModel>

@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>
<script>
    function confirmDeleteTweet(tweetID) {
        if (confirm("Delete this tweet?") == true)
            location.href = '@Url.Action("Delete")?id=' + tweetID + '';
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_tweet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tweet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_tweet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tweet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_tweet  }) |
            <button onclick="confirmDeleteTweet(@item.id_tweet)">Delete</button>
        </td>
    </tr>
}

</table>
