@model IEnumerable<Models.TweetsModel>

@{
    ViewBag.Title = "Information";
}
@{var title = @"Tweets";}
<h1> @title </h1>


<script>
    function confirmDeleteTweet(tweetID) {
        if (confirm("Delete this tweet?") == true)
            location.href = '@Url.Action("Delete")?id=' + tweetID + '';
    }
</script>

<table border="1">
    <tr>@*
        <th>
            @Html.DisplayNameFor(model => model.id_tweet)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.id_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tweet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>@*
        <td>
            @Html.DisplayFor(modelItem => item.id_tweet)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.id_user)   @* (...=>item.NameUser) *@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tweet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tweet }) |
            <button onclick="confirmDeleteTweet(@item.id_tweet)">Delete</button>
        </td>
    </tr>
}

</table>

@Html.ActionLink("Create new Tweet", "Create") 
