@model Models.UsersModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm("Save","User",FormMethod.Post)) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>UsersModel</legend>
    
            <div class="editor-label">
                @Html.HiddenFor(model => model.id_user)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.id_user)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.First_Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.First_Name)
            </div>
                @Html.ValidationMessageFor(model => model.First_Name)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Last_Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Last_Name)
            </div>
                @Html.ValidationMessageFor(model => model.Last_Name)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
            </div>
                @Html.ValidationMessageFor(model => model.Password)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
            </div>
                @Html.ValidationMessageFor(model => model.Email)
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Information")
    </div>
</body>
</html>
